# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
*.egg

# Distribution / packaging
.Python
build/
dist/
venv/
env/

# Editors
*.swp
*~
.DS_Store # macOS specific
.vscode/ # VS Code specific (if you use it)

# Jupyter Notebook specific
.ipynb_checkpoints

# My additional ignored files

my_organized_output/
output/
output_nadconv/
output_nadconv_high/
zenodo_output/
MIST_output/
farag_output/
mesa_tools/count_cloc.py
MIST_test_output/

my_settings.yaml
mesa_blue_loop.ipynb
mysett.yaml
