# Core data handling and plotting libraries
numpy>=1.21.6,<2.0
pandas>=1.3.5,<2.1
matplotlib>=3.5.3
PyYAML>=6.0.1
tqdm>=4.67.1

# Scientific and Astronomical Libraries
scipy>=1.7.3,<1.11
astropy>=4.3.1,<6.0
isochrones>=2.1
pygyre>=1.3.2
seaborn>=0.12.2,<0.13
numba>=0.56.4,<0.58
swifter>=1.4.0
f90nml>=1.4.5
addict


